<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/font/css/all.css">
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
    <script src="../public/javascript/script.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logodiv">
                <h1 class="logo">M</h1>
            </div>
            <nav>
              <ul>
                <div class="bar">
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">Videos</a></li>
                </div>
                 <div class="site-name">
                    <img src="../public/images/Capture-removebg-preview(2).png" alt="">
                 </div>
                 <div class="bar">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Setting</a></li>
                 </div>
              </ul>
              <div class="bars">
               <div class="rigth-icon">
                    <i class="fas fa-align-right"></i>
                </div>
                <div class="nav-bars">
                    <div class="nave home">
                        <li><a href="" class="active">Home</a></li>
                    </div>
                    <div class="nave Videos">
                        <li><a href="">Videos</a></li>
                    </div>
                    <div class="nave Blog">
                        <li><a href="">Blog</a></li>
                    </div>
                    <div class="nave home">
                        <li><a href="">Dashboard</a></li>
                    </div>
                    <div class="nave set">
                        <li><a href="">Setting</a></li>
                    </div>
                </div> 
              </div>
            </nav>
            <div class="thumbenail-content">
                <div class="thumbnail-princ">
                    <div class="thembenail">
                        <div class="thumb-desc">
                            <h1>Bienvenue sur notre plateforme de streaming vidéo</h1>
                            <p>Découvrez un large choix de films et séries de qualité, où et quand vous le voulez.</p>
                        </div>
                        <div class="btns-thumb">
                            <button><a href="">S'abonner</a></button>
                            <button><a href="">Essayer gratuitement</a></button>
                        </div>
                    </div>
                    <div class="thumbenail-image">
                        <div class="images">
                            <img src="../public/images/girl-watch.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>